<h3>Request new password</h3>
<%= form_for @conn, password_path(@conn, :reset_password), [as: :user], fn f -> %>

  <div class="form-group">
    <%= text_input f, :email, placeholder: "email", class: "form-control" %>
  </div>

  <%= submit "Reset Password", class: "btn btn-primary" %>

<% end %>
